<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hello" class="com.yc.spring.Hello">   
        
    </bean>
    
    <bean id="mdao" class="com.yc.spring.dao.MySQLUserDao">   
    </bean>

	<bean id="odao" class="com.yc.spring.dao.OracleUserDao">   
    </bean>
	<!-- 
		spring依赖注入（DI） 注入方式有三种
		注入：对象属性的初始化设值
		1.setter注入（set方法注入）
		2. 构造方法注入
		3. 接口注入 ==》 springMVC大量的应用
	 -->
	 <bean id="p1" class="com.yc.spring.bean.Person">
	 	<property name="name" value="武松"></property>
	 	<property name="age" value="35"></property>
	 	<property name="killeds" >
	 		<list>
	 			<value>潘金莲</value>
	 			<value>西门庆</value>
	 			<value>null</value>
	 			<null></null>
	 		</list>
	 	</property>
	 </bean>
	 <!--  primary="true" 设置当前的bean是主要的 -->
	 <bean class="com.yc.spring.bean.Person" primary="true">
	 	<constructor-arg name="name" value="李逵"></constructor-arg>
	 	<constructor-arg name="alisa" value="黑旋风"></constructor-arg>
	 	<constructor-arg name="age" value="33"></constructor-arg>
	 </bean>
	 
	 <bean id="p2" class="com.yc.spring.bean.Person">
	 	<constructor-arg name="name" value="李逵"></constructor-arg>
	 	<constructor-arg name="alisa" value="黑旋风"></constructor-arg>
	 	<constructor-arg name="age" value="33"></constructor-arg>
	 </bean>
</beans>